<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/chat_creator_script.js"></script>
    <link rel="stylesheet" href="/static/chat_creator_style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="text" placeholder="Chat name" id="chat_name">
    <br>
    <div id="myMultiselect" class="multiselect">
      <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
        <select class="form-select">
          <option>somevalue</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="mySelectOptions">
        {% for id in chats %}
            <label for="{{ id }}"><input type="checkbox" id="{{ id }}" onchange="checkboxStatusChange()" value="{{ id }}" /> {{ chats[id] }}</label>
        {% endfor %}
      </div>
    </div>
    <br>
    <button id="create_chat_btn">Create chat</button>
</html>