<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/login_script.js"></script>
    <link rel="stylesheet" href="/static/login_style.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/authorization.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>AChat</title>
</head>
<body>
  <div class="container">
    <button id="back-button" class="back-button"><img src="../images/left-arrow.svg"></button>
    <h1 class="heading">Sign up</h1>
    <div class="input-group">
        <img src="/images/login-icon.svg">
        <input type="text" id="nickname" placeholder="Nickname">
    </div>
    <br>
    <div class="input-group">
        <img src="/images/password-icon.svg">
        <input type="password" id="password" placeholder="Password">
    </div>
    <br>
    <div class="input-group">
        <img src="/images/key-icon.svg">
        <input type="text" id="username" placeholder="Username">
    </div>
    <br>
    <div id="myMultiselect" class="multiselect">
      <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
        <select class="form-select">
          <option>somevalue</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="mySelectOptions">
        <label for="one"><input type="checkbox" id="one" onchange="checkboxStatusChange()" value="e-profile" /> E-profile</label>
        <label for="two"><input type="checkbox" id="two" onchange="checkboxStatusChange()" value="student" /> Student</label>
        <label for="three"><input type="checkbox" id="three" onchange="checkboxStatusChange()" value="teacher" /> Teacher</label>
        <label for="four"><input type="checkbox" id="four" onchange="checkboxStatusChange()" value="graduate" /> Graduate</label>
      </div>
    </div>
    <button id="signup-button" class="button">Sign Up</button>
  </div>
</body>
</html>
